header{
    text-align: center;
    background-color: #aaf0e9;
}

.buttons-container{
    text-align: center;
    margin-top: 20px;
}

.buttons-container button{
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
}

.buttons-container button:hover {
    background-color: #555;
}

.recipe-card button {
    background-color: #ef5558;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.recipe-card button:hover {
    background-color: #f0898b;
}
